---
import Layout from '../../layouts/Layout.astro'

const { term } = Astro.params
const siteLanguage = 'en' // TODO: lol

const dictionaryResponse = await fetch(
  `https://suttacentral.net/api/dictionary_full/${term}?language=${siteLanguage}`
)
const dictionaryData = await dictionaryResponse.json()

const similarResponse = await fetch(
  `https://suttacentral.net/api/dictionary_full/similar/${term}?language=${siteLanguage}`
)
const similarData = await similarResponse.json()

const adjacentResponse = await fetch(
  `https://suttacentral.net/api/dictionary_full/adjacent/${term}?language=${siteLanguage}`
)
const adjacentData = await adjacentResponse.json()

// TODO: make global
const dictionaryTitles = {
  ncped: 'New Concise Pali English Dictionary',
  cped: 'Concise Pali English Dictionary',
  dhammika: 'Nature and the Environment in Early Buddhism by S. Dhammika',
  dppn: 'Dictionary of Pali Proper Names',
  pts: 'PTS Pali English Dictionary',
  dpd: 'Digital Pāḷi Dictionary',
  ddb: 'Digital Dictionary of Buddhism',
}
---

<Layout title={`Definitions for ${term}`}>
  <main>
    <hgroup>
      <!-- <h1>Definitions for <mark>{term}</mark></h1>
      <p>{dictionaryData.length} results</p> -->
      <h1>Define</h1>
      <p>{dictionaryData.length} results for <b>{term}</b></p>
    </hgroup>
    <section>
      {
        !!dictionaryData.length && (
          <article>
            {dictionaryData.map(entry => (
              <dl>
                <dt>{entry.word || entry.entry}</dt>
                <dd>
                  <small>
                    {dictionaryTitles?.[entry.dictname] || 'Unknown Dictionary'}{' '}
                    {entry.dictname === 'dpd' && (
                      <a href={`https://dpdict.net/?q=${term}`}>[Link]</a>
                    )}
                  </small>
                </dd>
                {entry.grammar && (
                  <dd>
                    <em>{entry.grammar}</em>
                  </dd>
                )}
                {entry.text && (
                  <dd
                    set:html={entry.text.replaceAll(
                      'https://suttacentral.net',
                      ''
                    )}
                  />
                )}
                {entry.definition && (
                  <dd>
                    {Array.isArray(entry.definition) ? (
                      <ol>
                        {entry.definition.map(d => (
                          <li set:html={d} />
                        ))}
                      </ol>
                    ) : (
                      entry.definition
                    )}
                  </dd>
                )}
                {entry.xr && (
                  <dd>
                    <ul>
                      {Array.isArray(entry.xr) ? (
                        <>
                          {entry.xr.map(d => (
                            <li>
                              <a href={`/define/${d}`}>{d}</a>
                            </li>
                          ))}
                        </>
                      ) : (
                        <li>
                          <a href={`/define/${entry.xr}`}>{entry.xr}</a>
                        </li>
                      )}
                    </ul>
                  </dd>
                )}
                {entry.pronunciation && (
                  <dd>
                    <strong>Pronunciation:</strong> {entry.pronunciation}
                  </dd>
                )}
              </dl>
            ))}
          </article>
        )
      }
      <nav>
        <form action="/define" method="GET">
          <input
            type="search"
            name="term"
            required
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            placeholder="Search a term…"
          />
          <button aria-label="Define" type="submit">🔎</button>
        </form>
        {
          !!adjacentData?.[0].length && (
            <article>
              <h2>Adjacent terms</h2>
              <ol>
                {adjacentData[0].map(adjacentTerm =>
                  adjacentTerm === term ? (
                    <li>
                      <span>{adjacentTerm}</span>
                    </li>
                  ) : (
                    <li>
                      <a href={`/define/${adjacentTerm}`}>{adjacentTerm}</a>
                    </li>
                  )
                )}
              </ol>
            </article>
          )
        }
        {
          !!similarData?.[0].length && (
            <article>
              <h2>Similar spelling</h2>
              <ol>
                {similarData[0].map(similarTerm => (
                  <li>
                    <a href={`/define/${similarTerm}`}>{similarTerm}</a>
                  </li>
                ))}
              </ol>
            </article>
          )
        }
      </nav>
    </section>
  </main>
</Layout>

<style>
  main {
    & > section {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: start;
      gap: 1rem;

      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }

      & > nav {
        position: sticky;
        top: 1rem;
      }
    }
  }
</style>
