---
import Layout from '../../layouts/Layout.astro'

const { pathname } = Astro.url
const uid = pathname?.split('/').pop()

// TODO: add "shortcut to all suttas" links

const response = await fetch(
  `https://suttacentral.net/api/menu/${uid}?language=en`
)
const json = await response.json()
let data = json[0]

const newKids = await Promise.all(
  data.children.map(async child => {
    const response = await fetch(
      `https://suttacentral.net/api/menu/${child.uid}?language=en`
    )
    const json = await response.json()
    const childData = json[0]

    const hasBranchChildren = childData.children?.some(
      gc => gc.node_type === 'branch'
    )
    const isPatimokkha = child.uid.endsWith('-pm')

    if (!hasBranchChildren || isPatimokkha) {
      return { ...child, scn_href: `/${child.uid}` }
    }
    return child
  })
)
data.children = newKids

const crumbsResponse = await fetch(
  `https://suttacentral.net/api/navigation_data/${uid}?language=en`
)
const crumbsData = await crumbsResponse.json()
---

<Layout breadcrumbs={crumbsData}>
  <main>
    <h1>{data.root_name}—{data.translated_name}</h1>
    {!!data.blurb && <p set:html={data.blurb} />}
    <ol>
      {
        data.children.map(child => (
          <li>
            <h2>
              <a href={child.scn_href ?? `${data.uid}/${child.uid}`}>
                {child.root_name}—{child.translated_name}
              </a>
            </h2>
            {!!child.blurb && <p set:html={child.blurb} />}
          </li>
        ))
      }
    </ol>
  </main>
</Layout>
