---
import { t } from '~/i18n'
import Layout from '~/layouts/Layout.astro'
import { generatePitakaJsonLd } from '~/utils/json-ld'
import { getPreferredLanguage } from '~/utils/language'

const { pathname } = Astro.url
const uid = pathname?.split('/').pop()

const acceptLanguage = Astro.request.headers.get('accept-language')
const userLanguage = getPreferredLanguage(acceptLanguage)

const menuResponse = await fetch(
  `https://suttacentral.net/api/menu/${uid}?language=${userLanguage}`
)
const menuDataJson = await menuResponse.json()
let menuData = menuDataJson[0]

if (!menuData.uid) {
  Astro.response.status = 404
  Astro.response.statusText = 'Menu UID not found'
  return Astro.rewrite('/404')
}

const newKids = await Promise.all(
  menuData.children.map(async child => {
    const response = await fetch(
      `https://suttacentral.net/api/menu/${child.uid}?language=${userLanguage}`
    )
    const json = await response.json()
    const childData = json[0]

    const hasBranchChildren = childData.children?.some(
      gc => gc.node_type === 'branch'
    )
    const isPatimokkha = child.uid.endsWith('-pm')

    if (!hasBranchChildren || isPatimokkha) {
      return { ...child, _scx_href: `/${child.uid}` }
    }
    return child
  })
)
menuData.children = newKids

const crumbsResponse = await fetch(
  `https://suttacentral.net/api/navigation_data/${uid}?language=${userLanguage}`
)
const crumbsData = await crumbsResponse.json()

const shortcutsResponse = await fetch(`https://suttacentral.net/api/shortcuts`)
const shortcutsData = await shortcutsResponse.json()

const origin = Astro.site?.origin ?? ''
const jsonLd = generatePitakaJsonLd(menuData, crumbsData, origin)
---

<Layout
  title={`${menuData.root_name}${menuData.root_name && menuData.translated_name ? '—' : ''}${menuData.translated_name || ''}`}
  description={menuData.blurb?.replace(/<[^>]*>/g, '')}
  breadcrumbs={crumbsData}
  jsonLd={jsonLd}
>
  <main>
    <h1
      set:text={`${menuData.root_name}${menuData.root_name && menuData.translated_name ? '—' : ''}${menuData.translated_name || ''}`}
    />
    {!!menuData.blurb && <p set:html={menuData.blurb} />}
    <ol>
      {
        menuData.children.map(child => (
          <li>
            <h2>
              <a
                href={child._scx_href ?? `${menuData.uid}/${child.uid}`}
                set:text={`${child.root_name}${child.root_name && child.translated_name ? '—' : ''}${child.translated_name || ''}`}
              />
            </h2>
            {!!child.blurb && <p set:html={child.blurb} />}
            {shortcutsData?.[0]?.shortcuts?.includes(child.uid) && (
              <p>
                <a href={`/${child.uid}`}>
                  {t(userLanguage, 'interface:shortcutToFullList')} →
                </a>
              </p>
            )}
          </li>
        ))
      }
    </ol>
  </main>
</Layout>

<style>
  ol {
    list-style-type: upper-roman;
  }
</style>
