---
import TextMetaContent from '~/components/text-meta-content.astro'
import { t } from '~/i18n'
import Layout from '~/layouts/Layout.astro'
import { getPreferredLanguage } from '~/utils/language'

const { chapter } = Astro.params
const acceptLanguage = Astro.request.headers.get('accept-language')
const userLanguage = getPreferredLanguage(acceptLanguage)

const suttaplexResponse = await fetch(
  `https://suttacentral.net/api/suttaplex/${chapter}?language=${userLanguage}`
)
const suttaplexData = await suttaplexResponse.json()

const crumbsResponse = await fetch(
  `https://suttacentral.net/api/navigation_data/${chapter}?language=${userLanguage}`
)
const crumbsData = await crumbsResponse.json()

const isPatimokkha = chapter?.endsWith('-pm')
---

<Layout breadcrumbs={crumbsData}>
  <main>
    <ol>
      {
        (isPatimokkha ? [suttaplexData[0]] : suttaplexData).map(entry => (
          <TextMetaContent data={entry} userLanguage={userLanguage} />
        ))
      }
      {
        isPatimokkha && (
          <details class="patimokkha-details">
            <summary>
              {t(userLanguage, 'interface:showParallelsAndDetails')}
            </summary>
            {suttaplexData.slice(1).map(entry => (
              <TextMetaContent data={entry} userLanguage={userLanguage} />
            ))}
          </details>
        )
      }
    </ol>
  </main>
</Layout>

<style>
  .patimokkha-details {
    margin-top: 1rem;

    > summary {
      cursor: pointer;
      padding: 0.5rem 0.15rem 0.5rem 0.5rem;
      border-radius: var(--rounding);
      margin-left: -0.5rem;
      background-color: var(--background-color-secondary);

      &:hover,
      &:active {
        background-color: var(--bg-alt-1);
      }
    }
  }
</style>
