---
import TextMetaContent from '../components/text-meta-content.astro'
import Layout from '../layouts/Layout.astro'

const { chapter } = Astro.params
const chosenLanguage = 'en' // TODO: lol

const suttaplexResponse = await fetch(
  `https://suttacentral.net/api/suttaplex/${chapter}?language=${chosenLanguage}`
)
const suttaplexData = await suttaplexResponse.json()

const crumbsResponse = await fetch(
  `https://suttacentral.net/api/navigation_data/${chapter}?language=${chosenLanguage}`
)
const crumbsData = await crumbsResponse.json()

const isPatimokkha = chapter?.endsWith('-pm')
---

<Layout breadcrumbs={crumbsData}>
  <main>
    <ol>
      {
        (isPatimokkha ? [suttaplexData[0]] : suttaplexData).map(entry => (
          <TextMetaContent data={entry} chosenLanguage={chosenLanguage} />
        ))
      }
      {
        isPatimokkha && (
          <details class="patimokkha-details">
            <summary>Show parallels and details</summary>
            {suttaplexData.slice(1).map(entry => (
              <TextMetaContent data={entry} chosenLanguage={chosenLanguage} />
            ))}
          </details>
        )
      }
    </ol>
  </main>
</Layout>

<style>
  .patimokkha-details {
    margin-top: 1rem;

    > summary {
      cursor: pointer;
      padding: 0.5rem 0.15rem 0.5rem 0.5rem;
      border-radius: var(--rounding);
      margin-left: -0.5rem;
      background-color: var(--background-color-secondary);

      &:hover,
      &:active {
        background-color: var(--bg-alt-1);
      }
    }
  }
</style>
