---
import TextMetaContent from '~/components/text-meta-content.astro'
import { t } from '~/i18n'
import Layout from '~/layouts/Layout.astro'
import { generateChapterJsonLd, generateTextMetaJsonLd } from '~/utils/json-ld'
import { getPreferredLanguage } from '~/utils/language'

const { chapter } = Astro.params
const acceptLanguage = Astro.request.headers.get('accept-language')
const userLanguage = getPreferredLanguage(acceptLanguage)

const suttaplexResponse = await fetch(
  `https://suttacentral.net/api/suttaplex/${chapter}?language=${userLanguage}`
)
const suttaplexData = await suttaplexResponse.json()

if (!suttaplexData?.[0]?.uid) {
  Astro.response.status = 404
  Astro.response.statusText = 'Suttaplex UID not found'
  return Astro.rewrite('/404')
}

const crumbsResponse = await fetch(
  `https://suttacentral.net/api/navigation_data/${chapter}?language=${userLanguage}`
)
const crumbsData = await crumbsResponse.json()

const isPatimokkha = chapter?.endsWith('-pm')

const origin = Astro.site?.origin ?? ''
const jsonLd =
  suttaplexData.length === 1
    ? generateTextMetaJsonLd(suttaplexData[0], crumbsData, origin)
    : generateChapterJsonLd(suttaplexData, chapter!, crumbsData, origin)
---

<Layout
  title={`${
    suttaplexData[0]?.translated_name ||
    suttaplexData[0]?.original_title ||
    chapter
  }${suttaplexData[0]?.translated_title ? `—${suttaplexData[0].translated_title}` : ''}`}
  description={suttaplexData[0]?.blurb?.replace(/<[^>]*>/g, '')}
  breadcrumbs={crumbsData}
  jsonLd={jsonLd}
>
  <main>
    <ol>
      {
        (isPatimokkha ? [suttaplexData[0]] : suttaplexData).map(
          (entry: { type: string }) => (
            <li
              class={
                suttaplexData.length > 1 && entry.type === 'leaf'
                  ? 'leaf-node'
                  : ''
              }
            >
              <TextMetaContent data={entry} userLanguage={userLanguage} />
            </li>
          )
        )
      }
      {
        isPatimokkha && (
          <details class="patimokkha-details">
            <summary>
              {t(userLanguage, 'interface:showParallelsAndDetails')}
            </summary>
            <ol>
              {suttaplexData.slice(1).map(entry => (
                <li>
                  <TextMetaContent data={entry} userLanguage={userLanguage} />
                </li>
              ))}
            </ol>
          </details>
        )
      }
    </ol>
  </main>
  <nav aria-label={t(userLanguage, 'interface:articlePagination')}>
    <div>
      {
        suttaplexData[0]?.previous?.uid && (
          <>
            <span>{t(userLanguage, 'interface:previous')}</span>
            <a href={`/${suttaplexData[0].previous.uid}`} rel="prev">
              {suttaplexData[0].previous?.name}
            </a>
          </>
        )
      }
    </div>
    <div>
      {
        suttaplexData[0]?.next?.uid && (
          <>
            <span>{t(userLanguage, 'interface:next')}</span>
            <a href={`/${suttaplexData[0].next.uid}`} rel="next">
              {suttaplexData[0].next?.name}
            </a>
          </>
        )
      }
    </div>
  </nav>
</Layout>

<style>
  ol {
    padding: 0;
    list-style: none;
  }

  .patimokkha-details {
    margin-top: 1rem;

    > summary {
      cursor: pointer;
      padding: 0.5rem 0.15rem 0.5rem 0.5rem;
      border-radius: var(--rounding);
      margin-left: -0.5rem;
      background-color: var(--background-color-secondary);

      &:hover,
      &:active {
        background-color: var(--bg-alt-1);
      }
    }
  }

  main ~ nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    gap: 1rem;
    margin: 2rem 1rem;
    width: calc(100vw - 2rem);
    max-width: calc(var(--content-max-width) * 1.2);

    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: flex-start;
      overflow-wrap: anywhere;

      &:nth-of-type(2) {
        align-items: flex-end;
        text-align: right;
      }

      span {
        font-variant-caps: petite-caps;
      }
    }
  }
</style>
