---
import { t } from '~/i18n'
import Layout from '~/layouts/Layout.astro'
import { generateIndexJsonLd } from '~/utils/json-ld'
import { getPreferredLanguage } from '~/utils/language'

const acceptLanguage = Astro.request.headers.get('accept-language')
const userLanguage = getPreferredLanguage(acceptLanguage)

const tipitakaResponse = await fetch(
  `https://suttacentral.net/api/tipitaka_menu?language=${userLanguage}`
)
const tipitakaData = await tipitakaResponse.json()

const origin = Astro.site?.origin ?? ''
const jsonLd = generateIndexJsonLd(tipitakaData, origin)
---

<Layout jsonLd={jsonLd} title={t(userLanguage, 'home:1')}>
  <main>
    <h1 set:html={t(userLanguage, 'home:1')} />
    <ol>
      {
        tipitakaData.map(pitaka => (
          <li>
            <article>
              <h2>
                <a
                  href={`/pitaka/${pitaka.uid}`}
                  set:text={`${pitaka.root_name}${pitaka.root_name && pitaka.translated_name ? '—' : ''}${pitaka.translated_name || ''}`}
                />
              </h2>
              {!!pitaka.blurb && <p set:html={pitaka.blurb} />}
            </article>
          </li>
        ))
      }
    </ol>
  </main>
</Layout>

<style>
  ol {
    list-style-type: upper-roman;
  }
</style>
