---
import '~/assets/search.css'
import SearchForm from '~/components/search-form.astro'
import TextMetaContent from '~/components/text-meta-content.astro'
import { dictionaryTitles } from '~/constants/define'
import { expansionData } from '~/constants/expansion'
import { t } from '~/i18n'
import Layout from '~/layouts/Layout.astro'
import { getSearchLanguages, setSearchLanguages } from '~/utils/cookies'
import {
  getAllPreferredLanguages,
  getPreferredLanguage,
} from '~/utils/language'
import { expandUid, normalise } from '~/utils/strings'

const { searchParams } = Astro.url
const acceptLanguage = Astro.request.headers.get('accept-language')
const userLanguage = getPreferredLanguage(acceptLanguage)

const langResponse = await fetch(
  'https://suttacentral.net/api/languages?all=true'
)
const langData = await langResponse.json()

const userLanguages = getAllPreferredLanguages(acceptLanguage)

const defaultLanguages = langData
  .filter(
    (l: { is_root: boolean; iso_code: string }) =>
      l.is_root || userLanguages.includes(l.iso_code)
  )
  .map((l: { uid: string }) => l.uid)
  .sort()

const query = searchParams.get('query')
const matchPartial = searchParams.get('matchpartial') === 'true'
const urlLanguages = searchParams.getAll('languages')

// If languages in URL, save to session cookie and redirect to clean URL
if (urlLanguages.length > 0) {
  setSearchLanguages(Astro.cookies, urlLanguages)
  const cleanUrl = new URL(Astro.url)
  cleanUrl.searchParams.delete('languages')
  return Astro.redirect(cleanUrl.toString())
}

const languageArray = getSearchLanguages(Astro.cookies) ?? defaultLanguages

const limit = 50 // SC default (apparently limiting something other than the results count)
const page = Number(searchParams.get('page')) || 1
const offset = (page - 1) * limit

let hits = []
let dictionaryHits = []
let suttaplexHits = []
let hasMore = false
let hasPrevious = false
let searchData = { total: 0 }

if (query) {
  const searchResponse = await fetch(
    `https://suttacentral.net/api/search/instant?limit=${limit}&offset=${offset}&query=${query}&language=${userLanguage}&restrict=all&matchpartial=${matchPartial}`,
    {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(languageArray),
    }
  )
  searchData = await searchResponse.json()

  hits = searchData.hits.filter(h => h.category !== 'dictionary')
  dictionaryHits = searchData.hits.filter(h => h.category === 'dictionary')
  suttaplexHits = searchData.suttaplex.slice(offset / 2, (page * limit) / 2)

  hasMore = searchData.total > page * limit
  hasPrevious = page > 1
}
---

<Layout title={query || t(userLanguage, 'search:search')} noindex>
  <main>
    <hgroup>
      <h1>{t(userLanguage, 'search:search')}</h1>
      {
        query && (
          <p>
            {searchData.total.toLocaleString()}
            {t(userLanguage, 'search:resultsFor')}
            <b>{query}</b>
          </p>
        )
      }
    </hgroup>
    <SearchForm
      matchPartial={matchPartial}
      query={query}
      autoFocus={!query || !searchData.total}
      languageArray={languageArray}
    />
    {
      query && (
        <>
          <section>
            {query === 'list authors' ? (
              <ol>
                {hits.map(hit => (
                  <li>
                    <hgroup>
                      <h2>
                        <a
                          href={`/search?query=${encodeURIComponent(`by:${hit.author_uid}`)}`}
                        >
                          {hit.author}
                        </a>
                      </h2>
                      {/* <p>
                        {hit.param_lang
                          .sort()
                          .map(lang => getLanguageName(lang))
                          .join(' ∙ ')}
                      </p> */}
                    </hgroup>
                  </li>
                ))}
              </ol>
            ) : (
              <>
                {!!hits.length && (
                  <ol>
                    {hits.map(hit => (
                      <li>
                        <hgroup>
                          <h2>
                            <a href={hit.url}>
                              {hit.is_article
                                ? hit.heading.title
                                : (hit.name || hit.heading?.title) &&
                                    normalise(hit.root_name) !==
                                      (normalise(hit.name) ||
                                        normalise(hit.heading?.title))
                                  ? `${hit.root_name}—${hit.name || hit.heading?.title}`
                                  : hit.name ||
                                    hit.heading?.title ||
                                    hit.root_name}
                            </a>
                          </h2>
                          <p>
                            {[
                              hit.acronym || expandUid(hit.uid, expansionData),
                              hit.full_lang,
                              hit.author,
                            ]
                              .filter(Boolean)
                              .join(' ∙ ')}
                          </p>
                        </hgroup>
                        {hit.highlight.content.map((excerpt: string) => (
                          <span
                            set:html={excerpt.replaceAll('target="_blank"', '')}
                          />
                        ))}
                        {hit.all_reference
                          ?.split(',')
                          .filter(r => r.includes('pts-'))
                          .map((ref: string, idx: number, arr: string[]) =>
                            // prettier-ignore
                            <span>
                            <a href={`${hit.url}/en/sujato#${ref.trim()}`}>{ref}</a>
                            {idx !== arr.length - 1 && '∙ '}
                          </span>
                          )}
                      </li>
                    ))}
                  </ol>
                )}
                {(!!dictionaryHits.length || !!suttaplexHits.length) && (
                  <ol class="suttaplex-hits">
                    {!!dictionaryHits.length &&
                      page === 1 &&
                      dictionaryHits.map(hit => (
                        <li class="dictionary-hit">
                          <p>
                            <small>
                              {
                                dictionaryTitles?.[
                                  hit.highlight.detail[0].dictname
                                ]
                              }
                            </small>
                          </p>
                          <dl>
                            <dt>{hit.highlight.detail[0].word}</dt>
                            <dd />
                            {hit.highlight.detail[0].grammar && (
                              <dd>
                                <em>{hit.highlight.detail[0].grammar}</em>
                              </dd>
                            )}
                            {hit.highlight.detail[0].text && (
                              <dd
                                set:html={hit.highlight.detail[0].text.replaceAll(
                                  'https://suttacentral.net',
                                  ''
                                )}
                              />
                            )}
                            {hit.highlight.detail[0].definition && (
                              <dd>
                                {Array.isArray(
                                  hit.highlight.detail[0].definition
                                ) ? (
                                  <ol>
                                    {hit.highlight.detail[0].definition.map(
                                      d => (
                                        <li set:html={d} />
                                      )
                                    )}
                                  </ol>
                                ) : (
                                  hit.highlight.detail[0].definition
                                )}
                              </dd>
                            )}
                            {hit.highlight.detail[0].xr && (
                              <dd>
                                <ul>
                                  {Array.isArray(hit.highlight.detail[0].xr) ? (
                                    <>
                                      {hit.highlight.detail[0].xr.map(d => (
                                        <li>
                                          <a href={`/define/${d}`}>{d}</a>
                                        </li>
                                      ))}
                                    </>
                                  ) : (
                                    <li>
                                      <a
                                        href={`/define/${hit.highlight.detail[0].xr}`}
                                      >
                                        {hit.highlight.detail[0].xr}
                                      </a>
                                    </li>
                                  )}
                                </ul>
                              </dd>
                            )}
                            {hit.highlight.detail[0].pronunciation && (
                              <dd>
                                <strong>
                                  {t(userLanguage, 'dictionary:pronunciation')}
                                </strong>{' '}
                                {hit.highlight.detail[0].pronunciation}
                              </dd>
                            )}
                          </dl>
                          <p>
                            <a href={hit.url}>
                              {t(userLanguage, 'search:all')}{' '}
                              {t(userLanguage, 'search:dictionaries')} →
                            </a>
                          </p>
                        </li>
                      ))}
                    {!!suttaplexHits.length &&
                      suttaplexHits.map(entry => (
                        <li>
                          <TextMetaContent
                            data={entry}
                            userLanguage={userLanguage}
                            headingLevel={2}
                          />
                        </li>
                      ))}
                  </ol>
                )}
              </>
            )}
          </section>
          <nav aria-label={t(userLanguage, 'search:pagination')}>
            <div>
              {hasPrevious && (
                <form method="GET" action="/search">
                  <input type="hidden" name="query" value={query} />
                  <input type="hidden" name="page" value={page - 1} />
                  {matchPartial && (
                    <input type="hidden" name="matchpartial" value="true" />
                  )}
                  <button type="submit">
                    ← {t(userLanguage, 'interface:previous')}
                  </button>
                </form>
              )}
            </div>
            <div>
              {hasMore && (
                <form method="GET" action="/search">
                  <input type="hidden" name="query" value={query} />
                  <input type="hidden" name="page" value={page + 1} />
                  {matchPartial && (
                    <input type="hidden" name="matchpartial" value="true" />
                  )}
                  <button type="submit">
                    {t(userLanguage, 'interface:next')} →
                  </button>
                </form>
              )}
            </div>
          </nav>
        </>
      )
    }
  </main>
</Layout>

<style>
  main {
    max-width: var(--content-double-width-gap);

    & > section {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1rem;
      margin-top: 1rem;

      ol {
        min-width: 0;
        max-width: var(--content-max-width);
        overflow-wrap: break-word;
        padding-left: 3ch;

        li:first-of-type h2 {
          margin-top: 0;
        }

        &.suttaplex-hits {
          list-style-type: none;

          & > li:not(.dictionary-hit) {
            border: 1px solid;
            border-color: var(--bg-alt-1);
            border-radius: var(--rounding);
            padding: 1rem;

            &:not(li:first-of-type) {
              margin-top: 1rem;
            }
          }
        }
      }

      .dictionary-hit {
        border: 1px solid;
        border-radius: var(--rounding);
        border-color: var(--bg-alt-3);
        padding: 1rem;
        margin-bottom: 1rem;
        list-style: none;

        p:first-of-type {
          margin-top: 0;
        }
        p:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    & > nav {
      display: flex;
      justify-content: space-between;
    }
  }
</style>
