---
import SearchForm from '@/components/search-form.astro'
import TextMetaContent from '@/components/text-meta-content.astro'
import Layout from '@/layouts/Layout.astro'
import { getPreferredLanguage } from '@/utils/language'

const { searchParams } = Astro.url
const acceptLanguage = Astro.request.headers.get('accept-language')
const userLanguage = getPreferredLanguage(acceptLanguage)

const query = searchParams.get('query') // TODO: handle no query
const matchPartial = false // TODO: add checkbox and param
const limit = 50 // Show 50 results to start with, like .net
const page = Number(searchParams.get('page')) || 1
const offset = (page - 1) * limit

const searchResponse = await fetch(
  `https://suttacentral.net/api/search/instant?limit=${limit}&offset=${offset}&query=${query}&language=${userLanguage}&restrict=all&matchpartial=${matchPartial}`
)
const searchData = await searchResponse.json()

const hits = searchData.hits.filter(h => h.category !== 'dictionary')
const dictionaryHits = searchData.hits.filter(h => h.category === 'dictionary')
const suttaplexHits = searchData.suttaplex

const hasMore = searchData.total > page * limit
const hasPrevious = page > 1

// TODO: make global
const dictionaryTitles = {
  ncped: 'New Concise Pali English Dictionary',
  cped: 'Concise Pali English Dictionary',
  dhammika: 'Nature and the Environment in Early Buddhism by S. Dhammika',
  dppn: 'Dictionary of Pali Proper Names',
  pts: 'PTS Pali English Dictionary',
  dpd: 'Digital Pāḷi Dictionary',
  ddb: 'Digital Dictionary of Buddhism',
}
---

<Layout>
  <main>
    <hgroup>
      <h1>Search</h1>
      <p>{searchData.total} results for <b>{query}</b></p>
    </hgroup>
    <SearchForm />
    <section>
      {
        !!hits.length && (
          <ol>
            {hits.map(hit => (
              <li>
                <hgroup>
                  <a href={hit.url}>
                    <h2>
                      {hit.root_name}—{hit.name}
                    </h2>
                  </a>
                  <p>
                    {hit.acronym} ∙ {hit.full_lang} ∙ {hit.author}
                  </p>
                </hgroup>
                {hit.highlight.content.map(excerpt => (
                  <span set:html={excerpt} />
                ))}
              </li>
            ))}
          </ol>
        )
      }
      {
        (!!dictionaryHits.length || !!suttaplexHits.length) && (
          <ol>
            {!!dictionaryHits.length &&
              dictionaryHits.map(hit => (
                <li>
                  <dl>
                    <dt>{hit.highlight.detail[0].word}</dt>
                    <dd>
                      <small>
                        {dictionaryTitles?.[hit.highlight.detail[0].dictname] ||
                          'Dictionary'}{' '}
                        (<a href={hit.url}>see all dictionaries</a>)
                      </small>
                    </dd>
                    {hit.highlight.detail[0].grammar && (
                      <dd>
                        <em>{hit.highlight.detail[0].grammar}</em>
                      </dd>
                    )}
                    {hit.highlight.detail[0].text && (
                      <dd
                        set:html={hit.highlight.detail[0].text.replaceAll(
                          'https://suttacentral.net',
                          ''
                        )}
                      />
                    )}
                    {hit.highlight.detail[0].definition && (
                      <dd>
                        {Array.isArray(hit.highlight.detail[0].definition) ? (
                          <ol>
                            {hit.highlight.detail[0].definition.map(d => (
                              <li set:html={d} />
                            ))}
                          </ol>
                        ) : (
                          hit.highlight.detail[0].definition
                        )}
                      </dd>
                    )}
                    {hit.highlight.detail[0].xr && (
                      <dd>
                        <ul>
                          {Array.isArray(hit.highlight.detail[0].xr) ? (
                            <>
                              {hit.highlight.detail[0].xr.map(d => (
                                <li>
                                  <a href={`/define/${d}`}>{d}</a>
                                </li>
                              ))}
                            </>
                          ) : (
                            <li>
                              <a href={`/define/${hit.highlight.detail[0].xr}`}>
                                {hit.highlight.detail[0].xr}
                              </a>
                            </li>
                          )}
                        </ul>
                      </dd>
                    )}
                    {hit.highlight.detail[0].pronunciation && (
                      <dd>
                        <strong>Pronunciation:</strong>{' '}
                        {hit.highlight.detail[0].pronunciation}
                      </dd>
                    )}
                  </dl>
                </li>
              ))}
            {!!suttaplexHits.length &&
              suttaplexHits.map(entry => (
                <TextMetaContent data={entry} userLanguage={userLanguage} />
              ))}
          </ol>
        )
      }
    </section>
    <nav aria-label="Search pagination">
      <div>
        {
          hasPrevious && (
            <form method="GET" action="/search">
              <input type="hidden" name="query" value={query} />
              <input type="hidden" name="page" value={page - 1} />
              <button type="submit">← Previous</button>
            </form>
          )
        }
      </div>
      <div>
        {
          hasMore && (
            <form method="GET" action="/search">
              <input type="hidden" name="query" value={query} />
              <input type="hidden" name="page" value={page + 1} />
              <button type="submit">Next →</button>
            </form>
          )
        }
      </div>
    </nav>
  </main>
</Layout>

<style>
  main {
    max-width: var(--content-double-width-gap);

    & > section {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1rem;

      ol {
        min-width: 0;
        overflow-wrap: break-word;
      }
    }

    & > nav {
      display: flex;
      justify-content: space-between;
    }
  }
</style>
