---
import { siteMetaData } from '~/constants/meta-data'

const pathname = Astro.url.pathname
const renderTime = Astro.locals.renderTime
---

<footer>
  <p>A fast and minimal alternative frontend for SuttaCentral.net</p>
  <p>
    View this page on <a href={`https://suttacentral.net${pathname}`}
      >SuttaCentral.net</a
    >
  </p>
  <p>This page rendered in {renderTime}s</p>
  <ul>
    <li><a href={siteMetaData.source}>Open source</a></li>
    <li><a href={siteMetaData.analytics}>Open analytics</a></li>
    <li><a href={siteMetaData.suggestions}>Ideas & bugs</a></li>
  </ul>
</footer>

<style>
  footer {
    background-color: var(--footer-background-color);
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    color: var(--headings-color);

    p:first-of-type {
      font-weight: 800;
    }

    p:nth-of-type(2) {
      font-weight: 600;
    }

    ul {
      max-width: var(--content-max-width);
      margin: 1rem auto;
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      li:not(li:last-of-type) {
        margin-right: 0.5rem;

        &::after {
          content: '∙';
          margin-left: 0.5rem;
        }
      }
    }
  }
</style>
