---
import '~/assets/details.css'
import { t } from '~/i18n'
import { toSentenceCase } from '~/utils/strings'
import ParallelsDetails from './parallels-details.astro'

interface Props {
  data: any // suttaplex response
  userLanguage?: string
  title?: string
  translations?: any
  parallelsOpen?: boolean
}

const { data: entry, userLanguage = 'en', parallelsOpen } = Astro.props

const translations = entry.translations.filter(t => t.lang === userLanguage)
const otherTranslations = entry.translations.filter(
  t => t.lang !== userLanguage && t.lang !== entry.root_lang
)
const rootTexts = entry.translations.filter(t => t.lang === entry.root_lang)
---

<article>
  <h1>
    {[entry.original_title, entry.translated_title].filter(Boolean).join('—')}
  </h1>
  {!!entry.acronym && <p>{entry.acronym}</p>}
  {!!entry.blurb && <p set:html={entry.blurb} />}
  <section>
    {
      !!entry.translations.length && (
        <>
          <details open>
            <summary>
              {toSentenceCase(
                `${t(userLanguage, translations.length !== 1 ? 'suttaplex:translationsIn' : 'suttaplex:translationIn')} ${t(userLanguage, translations.length !== 1 ? 'suttaplex:inYourLanguage' : 'suttaplex:inYourLanguage')}`
              )}
            </summary>
            <ul>
              {translations.map(t => (
                <li
                  set:html={`${t.lang_name}—<a href="/${entry.uid}/${t.lang}/${t.author_uid}">${(t.author || t.author_uid)?.trim()}</a> ${t.publication_date ? `(${t.publication_date})` : ''}`}
                />
              ))}
            </ul>
          </details>
          <details open>
            <summary>
              {toSentenceCase(
                `${t(userLanguage, rootTexts.length !== 1 ? 'suttaplex:editions' : 'suttaplex:edition')} ${t(userLanguage, translations.length !== 1 ? 'suttaplex:ofRootText' : 'suttaplex:ofRootText')}`
              )}
            </summary>
            <ul>
              {rootTexts.map(t => (
                <li
                  set:html={`${t.lang_name}—<a href="/${entry.uid}/${t.lang}/${t.author_uid}">${(t.author || t.author_uid)?.trim()}</a> ${t.publication_date ? `(${t.publication_date})` : ''}`}
                />
              ))}
            </ul>
          </details>
          <details>
            <summary>
              {toSentenceCase(
                `${t(userLanguage, otherTranslations.length !== 1 ? 'suttaplex:translationsIn' : 'suttaplex:translationIn')} ${t(userLanguage, otherTranslations.length !== 1 ? 'suttaplex:inModernLanguages' : 'suttaplex:inModernLanguages')}`
              )}{' '}
              ({otherTranslations.length})
            </summary>
            <ul>
              {otherTranslations
                .toSorted((a, b) => a.lang - b.lang)
                .map(t => (
                  <li
                    set:html={`${t.lang_name}—<a href="/${entry.uid}/${t.lang}/${t.author_uid}">${t.author}</a> ${t.publication_date ? `(${t.publication_date})` : ''}`}
                  />
                ))}
            </ul>
          </details>
        </>
      )
    }
    {
      entry.type === 'leaf' && (
        <ParallelsDetails
          data={entry}
          parallelsOpen={parallelsOpen}
          userLanguage={userLanguage}
        />
      )
    }
  </section>
</article>
