---
import { getLanguageName, getPreferredLocale } from '@/utils/language'
import '../assets/details.css'
import ParallelsDetails from './parallels-details.astro'

interface Props {
  data: any // suttaplex response
  userLanguage?: string
  title?: string
  translations?: any
  parallelsOpen?: boolean
}

const { data: entry, userLanguage = 'en', parallelsOpen } = Astro.props

const acceptLanguage = Astro.request.headers.get('accept-language')
const userLocale = getPreferredLocale(acceptLanguage)
const languageName = getLanguageName(userLocale)

const translations = entry.translations.filter(t => t.lang === userLanguage)
const otherTranslations = entry.translations.filter(
  t => t.lang !== userLanguage && t.lang !== entry.root_lang
)
const rootTexts = entry.translations.filter(t => t.lang === entry.root_lang)
---

<li>
  <h1>
    {entry.original_title}—{entry.translated_title}
  </h1>
  {!!entry.acronym && <p>{entry.acronym}</p>}
  {!!entry.blurb && <p set:html={entry.blurb} />}
  <section>
    {
      !!entry.translations.length && (
        <>
          <details open>
            <summary>
              Translation{translations.length > 1 && 's'} in {languageName}
            </summary>
            <ul>
              {translations.map(t => (
                <li>
                  <a href={`/${entry.uid}/${t.lang}/${t.author_uid}`}>
                    {t.author}
                  </a>{' '}
                  {t.publication_date && `(${t.publication_date})`}
                </li>
              ))}
            </ul>
          </details>
          <details open>
            <summary>
              Edition{rootTexts.length > 1 && 's'} of the root text
            </summary>
            <ul>
              {rootTexts.map(t => (
                <li>
                  {t.lang_name}—
                  <a href={`/${entry.uid}/${t.lang}/${t.author_uid}`}>
                    {t.author.trim()}
                  </a>
                  {t.publication_date && `(${t.publication_date})`}
                </li>
              ))}
            </ul>
          </details>
          <details>
            <summary>
              Translation{otherTranslations.length > 1 && 's'} in other modern
              languages ({otherTranslations.length})
            </summary>
            <ul>
              {otherTranslations
                .toSorted((a, b) => a.lang - b.lang)
                .map(t => (
                  <li>
                    {t.lang_name}—
                    <a href={`/${entry.uid}/${t.lang}/${t.author_uid}`}>
                      {t.author}
                    </a>
                    {t.publication_date && `(${t.publication_date})`}
                  </li>
                ))}
            </ul>
          </details>
        </>
      )
    }
    {
      entry.type === 'leaf' && (
        <ParallelsDetails data={entry} parallelsOpen={parallelsOpen} />
      )
    }
  </section>
</li>
