---
import '../assets/global.css'
import SearchForm from '../components/search-form.astro'
const pathname = Astro.url.pathname

const renderTime = Astro.locals.renderTime

interface Props {
  title?: string
  description?: string
  breadcrumbs?: string[] // TODO: wrong type
}

const { title, description, breadcrumbs } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>SuttaCentral.now</title>
    <script defer src="https://scripts.simpleanalyticscdn.com/light.js"
    ></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">📚</a></li>{
            breadcrumbs?.map(b => (
              <li>
                <a href={b.url}>{b.title}</a>
              </li>
            ))
          }
        </ul>
      </nav>
      {
        !pathname.startsWith('/search') && (
          <button
            type="submit"
            popovertarget="search-modal"
            aria-label="Search site"
          >
            🔎
          </button>
        )
      }
    </header>
    <slot />
    <footer>
      <p>
        View this page on <a href={`https://suttacentral.net${pathname}`}
          >SuttaCentral.net</a
        >
      </p>
      <p>This page rendered in {renderTime}s</p>
    </footer>
    {
      !pathname.startsWith('/search') && (
        <section id="search-modal" popover>
          <SearchForm />
        </section>
      )
    }
    <noscript
      ><img
        src="https://queue.simpleanalyticscdn.com/noscript.gif"
        alt=""
        referrerpolicy="no-referrer-when-downgrade"
      /></noscript
    >
  </body>
</html>
