---
import '~/assets/_legacy_support.css'
import '~/assets/global.css'
import SearchForm from '~/components/search-form.astro'
import SiteFooter from '~/components/site-footer.astro'
import SiteHeader from '~/components/site-header.astro'
import { siteMetaData } from '~/constants/meta-data'
import { getPreferredLanguage } from '~/utils/language'

const pathname = Astro.url.pathname
const acceptLanguage = Astro.request.headers.get('accept-language')
const userLanguage = getPreferredLanguage(acceptLanguage)
interface Props {
  title?: string
  description?: string
  breadcrumbs?: any[]
  jsonLd?: string
  canonical?: string
  ogImage?: string
  ogType?: 'website' | 'article'
  ogData?: Record<string, string | string[]>
  noindex?: boolean
}

const {
  title,
  description,
  breadcrumbs,
  jsonLd,
  canonical,
  ogImage,
  ogType,
  ogData = {},
  noindex,
} = Astro.props

const pageTitle = title
  ? `${title} @ ${siteMetaData.title}`
  : siteMetaData.title
const pageDescription = description || siteMetaData.description
const canonicalUrl = canonical || Astro.url.href
const imageUrl = new URL(ogImage || '/og-image2.jpg', Astro.site).href
---

<!doctype html>
<html lang={userLanguage}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64x64.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="250x250"
      href="/favicon-250x250.png"
    />
    <link rel="apple-touch-icon" sizes="250x250" href="/favicon-250x250.png" />
    <link rel="sitemap" href="/sitemap.xml" />
    <link rel="canonical" href={canonicalUrl} />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={pageDescription} />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#ffffff"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#1a1a2e"
    />
    {noindex && <meta name="robots" content="noindex, nofollow" />}
    <title>{pageTitle}</title>
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:site_name" content={siteMetaData.title} />
    <meta property="og:type" content={ogType || 'website'} />
    <meta property="og:locale" content={userLanguage} />
    <meta property="og:image" content={imageUrl} />
    {
      Object.entries(ogData)
        .filter(([k, v]) => v)
        .flatMap(([property, content]) =>
          Array.isArray(content) ? (
            content
              .filter(Boolean)
              .map(item => <meta property={property} content={item} />)
          ) : (
            <meta property={property} content={content} />
          )
        )
    }
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={pageTitle} />
    <meta name="twitter:description" content={pageDescription} />
    <meta name="twitter:image" content={imageUrl} />
    {jsonLd && <script type="application/ld+json" set:html={jsonLd} />}
    <script
      is:inline
      defer
      data-allow-params="query"
      src="https://scripts.simpleanalyticscdn.com/light.js"></script>
  </head>
  <body>
    <SiteHeader breadcrumbs={breadcrumbs} />
    <slot />
    <SiteFooter />
    {
      !pathname.startsWith('/search') && (
        <section id="search-modal" popover>
          <SearchForm />
        </section>
      )
    }
    <noscript>
      <img
        src="https://queue.simpleanalyticscdn.com/noscript.gif"
        alt=""
        referrerpolicy="no-referrer-when-downgrade"
      />
    </noscript>
  </body>
</html>
